<div class="container mt-5 pt-5 ">
    <div class="row">
        <div class="fs-5">
            <h5><strong>Dirección:</strong></h5>
            <p>PAUNERO ESQ. JULIO A. ROCA S/N B° PARQUE SARMIENTO, X5000 CÓRDOBA, CAPITAL</p>
        </div>
        <div class="fs-5">
            <h5><strong>Teléfono:</strong></h5>
            <p>0351-4334542</p>
        </div>
        <div class="fs-5">
            <h5><strong>Email:</strong></h5>
            <a href="mailto:escuela.maternal1@gmail.com">escuela.maternal1@gmail.com</a>
        </div>
    </div>
</div>